nav{
    background-color: brown;
    height: 50px;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    text-align: center;
    margin-right: 200px;
    color: white;
}

.founders {
    display: inline-block;
}

.contact {
    display: inline-block;
}

.about {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: beige;
}