nav{
    background-color: brown;
    height: 50px;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    text-align: center;
    margin-right: 200px;
    color: white;
}
.resipy1 { text-align: center;
color: brown;}
.Ingredients { text-align: center;
color: blanchedalmond ;
background-color: brown;}

.list { text-decoration:wavy;
text-align: center;}