nav{
    background-color: brown;
    height: 50px;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    text-align: center;
    margin-right: 200px;
    color: white;
}
#box1{
    background-color: chocolate;
    text-align: center;
    height: 100px;
}

image{
    height: 50px;
    width: 100px;
}